In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
ls

AllHandwritingImages.zip    csv_processing.ipynb
CSAFE_Handwriting_Info.csv  reload_data2.py

In [7]:
og_df = pd.read_csv("CSAFE_Handwriting_Info.csv")
og_df.head(10)

,wid,agegroup,gender,hand,thirdgrade_usa,thirdgrade_usa_region,s1_dae,s1_time,s2_dae,s2_time,s3_dae,s3_time,db_version
0,180,61+,Female,Right,True,Midwest,0.0,Late Morning,28.0,Late Morning,66.0,Late Morning,version5
1,410,18-24,Female,Right,True,Midwest,0.0,Late Afternoon,32.0,Late Evening,54.0,Early Evening,version5
2,593,18-24,Male,Left,True,Midwest,0.0,Late evening (later than 7:30pm),30.0,Late evening (later than 7:30pm),61.0,Early evening (5pm-7:30pm),version5
3,520,18-24,Female,Right,True,Midwest,0.0,Late Evening,26.0,Late Morning,54.0,Late Morning,version5
4,233,18-24,Male,Right,False,NaN,340.0,Late Evening,380.0,Late Evening,0.0,Late Evening,version5
5,35,41-60,female,right,False,NaN,0.0,lateevening,24.0,latemorning,64.0,earlyevening,version5
6,661,18-24,Female,Right,True,Midwest,0.0,Late Afternoon,41.0,Late Afternoon,57.0,Late Evening,version5
7,420,18-24,Female,Right,True,NaN,0.0,Late Afternoon,52.0,Early Afternoon,73.0,Late Afternoon,version5
8,62,41-60,female,right,True,midwest,0.0,lateevening,54.0,latemorning,98.0,earlyevening,version5
9,572,18-24,Female,Right,True,Midwest,0.0,Late morning (9:30am-12:00pm),24.0,Late morning (9:30am-12:00pm),54.0,Early afternoon (12:00pm-2:30pm),version5

In [9]:
df = og_df[["wid","agegroup","gender","hand"]]
print(df.shape)
df.head(10)

(466, 4)

   wid agegroup  gender   hand
0  180      61+  Female  Right
1  410    18-24  Female  Right
2  593    18-24    Male   Left
3  520    18-24  Female  Right
4  233    18-24    Male  Right
5   35    41-60  female  right
6  661    18-24  Female  Right
7  420    18-24  Female  Right
8   62    41-60  female  right
9  572    18-24  Female  Right

In [11]:
df.isnull().sum()

wid         0
agegroup    3
gender      3
hand        1
dtype: int64

In [13]:
df[df.isnull().any(axis=1)]

     wid agegroup  gender   hand
88   474      NaN     NaN    NaN
102  493      NaN  Female   Left
201  650    25-40     NaN  Right
243  642    18-24     NaN  Right
277  380      NaN  Female  Right

    ID#474 doesn't have any metadata

In [19]:
df = df.drop(index=88).reset_index(drop=True)
df.head(10)

   wid agegroup  gender   hand
0  180      61+  Female  Right
1  410    18-24  Female  Right
2  593    18-24    Male   Left
3  520    18-24  Female  Right
4  233    18-24    Male  Right
5   35    41-60  female  right
6  661    18-24  Female  Right
7  420    18-24  Female  Right
8   62    41-60  female  right
9  572    18-24  Female  Right

In [21]:
df[df.isnull().any(axis=1)]

     wid agegroup  gender   hand
101  493      NaN  Female   Left
200  650    25-40     NaN  Right
242  642    18-24     NaN  Right
276  380      NaN  Female  Right

**To Do:**
* process csv (one per target)
* encode target(s)
* output csvs
* use csv to reorganize directory structure
* use directory structure for tensorflow datasets
* train models

In [24]:
hand_df = df.copy() #more data than the rest
gender_df = df.drop(index=[200,242]).reset_index(drop=True)
age_df = df.drop(index=[101,276]).reset_index(drop=True)

In [26]:
hand_df.to_csv('hand_df.csv')
gender_df.to_csv('gender_df.csv')
age_df.to_csv('age_df.csv')

In [28]:
ls

AllHandwritingImages.zip    gender_df.csv
CSAFE_Handwriting_Info.csv  hand_df.csv
age_df.csv                  reload_data2.py
csv_processing.ipynb